# 分流规则配置片段包含若干条分流规则；可通过资源引用的方式使用。
# 片段文件将保存在 Quantumult X 目录下的 Profiles 子目录中。
# 样例可参见 https://raw.githubusercontent.com/crossutility/Quantumult-X/master/filter.snippet
 
 
 host-suffix, gmail.com, direct
 host-suffix, jable.tv, proxy
 host-suffix, pornhub.com,proxy
 host-suffix,steampowered.com,proxy
 host-suffix,steammobile.akamaized.net,proxy
 host,cdn.akamai.steamstatic.com,proxy


;host, www.example.com, direct